#obj{
  width:100%;
  height:100%;
  top:0%;
  left:0%;
  position:absolute;
  border:0 solid;
}
#stream{
  width: 100%;
  height: 100%;
  padding:0;
  margin:0;
  top:0%;
  left:0%;
  position:absolute;
  box-shadow: inset 0 0 20px 20px #000;
}
#video{
  width:100%;
  height: 100%;
  padding:0;
  margin:0;
  top:0%;
  left:0%;
  position:absolute;
}
#imagen{
  width: 150%;
  height: 150%;
  padding:0;
  margin:0;
  top:-25%;
  left:-25%;
  position:absolute;
  box-shadow: inset 0 0 20px 20px #000;
}
#credito{
  width:100%;
  height:auto;
  top:0%;
  left:0%;
  position:absolute;
}
/*ARROWs*/
.f{
  position:fixed;
  top:50%;
  display:block;
  background:rgba(80, 80, 80, 0.6);
  color:#bbb;
  opacity:0.95;
  font-size:28px;
  text-decoration: none;
  width:65px;
  height:120px;
  border:1px solid #101010;
  text-align:center;
  margin-top:-60px;
  text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.9);
}
#izq{
  left:0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}
#der{
  right:0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.8);
}
.arrow{
  position:relative;
  height:40px;
  display:block;
  top:50%;
  margin-top:-20px;
}
.f:active{
  background:rgba(140, 140, 200, 0.6);
}
/*TEXTO*/
.tera-text{
  color:#eee;
  position:absolute;
  bottom:40%;
  left:0;
  width:100%;
  height:auto;
  text-align:center;
  font-size:40px;
}
/*DEBUG*/
.debug_set{
  position:absolute;
  width:50%;
  height:auto;
  top:50px;
  left:50px;
  background:#eee;
}
.debug_set input{
  border:1px solid #222;
  width:90%;
  height:20px;
  margin:10px 5% 10px 5%;
}
.debug_set button{
  width:90%;
  height:20px;
  background:#eee;
  margin: 0 5% 10px 5%;
  border:1px solid #222;
}
.debugFooter{
  position:absolute;
  bottom:8%;
  left:0;
  width:100%;
  height:120px;
  opacity:1.0;
  margin:0;
  padding:0;
}
.debugFooter a{
  display:block;
  margin:0;
  padding: 0px;
  text-align: center;
  width:13%;
  margin: 3%;
  height:100%;
  float:left;
  text-decoration: none;
  font-size: 36px;
  color:#FFF;
  font-family: Courier;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 10px;
}
.debugFooter a:active{
  background: #FFF;
}

.debugButton{
  display:block;
  border-radius:35%;
  background-image: url("../assets/icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  position:absolute;
  top:15px;right:15px;
  width:70px;height:70px;

  text-decoration:none;
  text-align:center;
  font-size:45px;
  padding-top:5px;
  color:#111;
  opacity: 0.7;
}
/********************************************/
/****************ANIMATIONS******************/
.debugFade{
  animation:fadeOut 2s;
  animation-delay:10s;
  animation-fill-mode:forwards;
}
.debugOff{
  animation:off 2s;
  animation-delay:10s;
  animation-fill-mode:forwards;
}
.movImg{
  animation:sin 80s;
  animation-iteration-count: infinite;
  transition: top 0.5s;
}
.movCre{
  animation:scroll 70s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
/********************************************/
/*****************KEYFRAMES******************/
@keyframes fadeOut {
  from {opacity: 1; }
  to {opacity: 0; }
}
@keyframes fadeIn {
  from {opacity: 0; }
  to {opacity: 1; }
}
@keyframes off {
  from {right: 15px; }
  to {right: -100px; }
}
@keyframes sin {
  0% {left:-25%;transform:scale(1);}
  25% {left:-50%;transform:scale(1.5);}
  50% {left:0%;transform:scale(3);}
  75% {left:-50%;transform:scale(2.2);}
  100% {left:-25%;transform:scale(1);}
}
@keyframes scroll {
  from {top:0%;}
  to {top:-200%;}
}
