<!--
Streaming Object
-->
<div #stream id="stream" [style.background]="url" [style.background-size]="c" [hidden]="showStream">
</div>
<video #video id="stream" [src]="videoUrl" autoplay [hidden]="showVideo" webkit-playsinline playsinline></video>

<!--
Layers
-->
<img #imagen class="movImg" id="imagen" [src]="imgUrl" [hidden]="showImg">

<audio #audio [src]="audioUrl" type="audio/mpeg"></audio>

<div #texto class="tera-text" [hidden]="showText">
  {{textoContenido}}
</div>

<!--
Interface
-->
<div #arrows [hidden]="showArrow">
  <div (click)="switchStream(-1);" class="f" id="izq">
    <span class="arrow">&#60;</span>
  </div>

  <div (click)="switchStream(1);" class="f" id="der">
    <span class="arrow">&#62;</span>
  </div>
</div>

<!--
DEBUG Start
-->
<a #ipBut (click)="toggle=!toggle;" class="debugButton">IP</a>
<!--div class="debug_set" *ngIf="toggle">
  <input #ip type="text" name="" [value]="ipCurrent">
  <input #port type="text" name="" [value]="portCurrent">
  <button (click)="changeIP();" type="button" name="button">OK</button>
</div-->
<div class="debugFooter" *ngIf="toggle">
  <a (click)="escena1();">1</a>
  <a (click)="escena2();">2</a>
  <a (click)="escena3();">3</a>
  <a (click)="escena4();">4</a>
  <a (click)="escena5();">5</a>
  <a (click)="escena6();">6</a>
  <a (click)="escena7();">7</a>
</div>
<!--
DEBUG End
-->
