#obj{
  width:120%;
  height:120%;
  top:-10%;
  left:-10%;
  position:absolute;
  border:0 solid;
}
#stream{
  width: 120%;
  height: 120%;
  padding:0;
  margin:0;
  top:-10%;
  left:-10%;
  position:absolute;
  box-shadow: inset 0 0 40px 40px #000;
}
/*ARROWs*/
.f{
  position:fixed;
  top:50%;
  display:block;
  background:rgba(80, 80, 80, 0.6);
  color:#bbb;
  opacity:0.95;
  font-size:28px;
  text-decoration: none;
  width:65px;
  height:120px;
  border:1px solid #101010;
  text-align:center;
  margin-top:-60px;
  text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.9);
}
#izq{
  left:0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}
#der{
  right:0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.8);
}
.arrow{
  position:relative;
  height:40px;
  display:block;
  top:50%;
  margin-top:-20px;
}
.f:active{
  background:rgba(140, 140, 200, 0.6);
}
/*TEXTO*/
.tera-text{
  color:#eee;
  position:absolute;
  bottom:20%;
  left:0;
  width:100%;
  height:auto;
  text-align:center;
  font-size:40px;
}
/*DEBUG*/
.debug_set{
  position:absolute;
  width:50%;
  height:auto;
  top:50px;
  left:50px;
  background:#eee;
}
.debug_set input{
  border:1px solid #222;
  width:90%;
  height:20px;
  margin:10px 5% 10px 5%;
}
.debug_set button{
  width:90%;
  height:20px;
  background:#eee;
  margin: 0 5% 10px 5%;
  border:1px solid #222;
}
.debugFooter{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:50px;
  background: #eee;
  opacity:0.7;
  margin:0;
  padding:0;
}
.debugFooter a{
  display:block;
  margin:0;
  padding:0;
  text-align: center;
  width:16.6%;
  height:100%;
  float:left;
  text-decoration: none;
  font-size: 30px;
  color:#000;
}
.debugFooter a:active{
  background:#444;
}
/********************************************/
/****************ANIMATIONS******************/
.debugFade{
  animation: fadeOut 2s;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}
/********************************************/
/*****************KEYFRAMES******************/
@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
