<!--
Streaming Object
-->
<div #stream id="stream" [style.background]="url" [style.background-size]="c" (click)="fadeConfig();" [hidden]="showStream">
</div>

<!--
Layers
-->
<img #imagen [src]="imgUrl" [hidden]="showImg">

<audio #audio [src]="audioUrl" type="audio/mpeg"></audio>

<div #texto class="tera-text" [hidden]="showText">
  {{textoContenido}}
</div>

<!--
Interface
-->
<div #arrows class="debugFade">
  <div (click)="switchStream(-1);" class="f" id="izq">
    <span class="arrow">&#60;</span>
  </div>

  <div (click)="switchStream(1);" class="f" id="der">
    <span class="arrow">&#62;</span>
  </div>
</div>

<!--
DEBUG Start
-->
<a #ipBut (click)="toggle=!toggle;" class="debugButton debugFade debugOff">IP</a>
<div class="debug_set" *ngIf="toggle">
  <input #ip type="text" name="" [value]="ipCurrent">
  <input #port type="text" name="" [value]="portCurrent">
  <button (click)="changeIP();" type="button" name="button">OK</button>
</div>
<div class="debugFooter" *ngIf="toggle">
  <a (click)="escena1();">1</a>
  <a (click)="escena2();">2</a>
  <a (click)="escena3();">3</a>
  <a (click)="escena4();">4</a>
  <a (click)="escena5();">5</a>
  <a (click)="escena6();">6</a>
</div>
<div style="position:fixed;top:30px;left:200px;color:#fff;">
  <p>{{beaconScene[0]}}</p>
  <p>{{beaconScene[1]}}</p>
  <p>{{beaconScene[2]}}</p>
  <p>{{beaconScene[3]}}</p>
  <p>{{beaconScene[4]}}</p>
  <p>{{beaconScene[5]}}</p>
</div>
<!--
DEBUG End
-->
